extends dashboard

block dashboardContent
  .space-between
    .dashboard__filter
      form
        input(type="text" name="filter" placeholder="Search Artists")
        button(type="submit") Search
    a.button(href="/admin/videos/edit/new") 
      img(src="/images/icons/plus.svg")
      div New Video
  .artists__feed
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views
    a(href="/artists/jaykae").artists__feed--entry
      img(src="/images/artists/id/300x300.jpg")
      .artists__feed--entry--info
        h3 Jaykae
        p 13,471,992 views