extends layout

block p110AlbumBanner
block body
  section.about
    img(src="/images/banners/about-main.jpg" alt="Video Production Photo")
    .container.about__content
      h1 About P110
      h2 P110 is a broadcasting platform working with new and current talent.
      p We offer a range of platforms within the channel, including freestyles, live performances, documentaries &amp; high quality music videos. Since the channel started in April 2011 we have worked along side many influential figures in the music scene. These include: Skepta, Mist, Giggs, Bugzy Malone, Section Boyz, Potter Payper, Bonkaz, Geko, Aystar, Remtrex, Safone, Jaykae, Stardom, Tempa, Dapz On The Map, Lotto Boyzz, Sox, K2, Mic Righteous, Splinta, Fox and more.
      p Stay locked in for more exciting videos on P110.
      p DISCLAIMER:#[br]The views and opinions expressed in our videos are those of the artist(s) featured, and do not represent the views and/or opinions of P110.
      a.button(href="/video-production") Contact Us