extends layout

block p110AlbumBanner
block body
  section.album
    .container
      img(src="/images/album/p110-the-album-logo.png" alt="P110 - The Album")
      img(src="/images/album/p110-the-album-artists.png" alt="Featuring Jaykae, Mist, Fredo, Aystar, Aard Ardz, Tempa, Stardom & Splinta")
      h2 Listen Now
      .album__platform-links
        a(href="https://itunes.apple.com/gb/album/p110-the-album/1219841361" target="_blank")
          img(src="/images/album/p110-the-album-platform-itunes.png" alt="P110 - The Album")
        a(href="https://open.spotify.com/album/6ad98k7XoRXBv3qQPKFo9T" target="_blank")
          img(src="/images/album/p110-the-album-platform-spotify.png" alt="P110 - The Album")
        a(href="https://play.google.com/store/music/album/Various_Artists_P110_THE_ALBUM?id=Bv4uxo2iwmkyxuv3gi4kdqfuug4" target="_blank")
          img(src="/images/album/p110-the-album-platform-google.png" alt="P110 - The Album")
      