extends layout

block body
  section.artist
    .container
      a.back-link.underline-hover(href="/artists") << Back to Artists
      .artist__article
        article.artist__article--content
          .artist__article--content--title
            .video-description__type Artist Profile
            h1 Jaykae
          img.artist__article--content--featured-image--mobile(src="/images/artists/id/featured.jpg" alt="Jaykae")
          .artist__article--content--stats
            .artist__article--content--stats--stat
              h6 Combined Views
              p 13,471,992
            .artist__article--content--stats--stat
              h6 Location
              p 13,471,992
            .artist__article--content--stats--stat
              h6 Twitter
              p 13,471,992
            .artist__article--content--stats--stat
              h6 Instagram
              p 13,471,992

          .artist__article--content--text
            p Jaykae is a British grime MC and rapper from the Small Heath area of Birmingham, England. He put out a number of independent releases, including the A Bit To Eat EP in 2013 and the Froggy EP (recorded with fellow grime artist Dapz OTM) in 2014, before becoming prominent in 2016 with the single "Toothache".
            p The rapper gained more exposure when he made a guest appearance at one of grime heavyweight Stomzy's gigs in 2017, and went on to appear in an episode of the 50-Cent produced crime-drama series Power in the same year.
          .artist__article--related-artists
            h6 Related Artists
            ul
              li 
                a.underline(href="/artists/skepta") Skepta
              li 
                a.underline(href="/artists/skepta") Mist
              li 
                a.underline(href="/artists/skepta") Depz
              li 
                a.underline(href="/artists/skepta") Yaseen Rosay
              li 
                a.underline(href="/artists/skepta") KD
              li 
                a.underline(href="/artists/skepta") Dapz on the Map
              li 
                a.underline(href="/artists/skepta") Skepta
              li 
                a.underline(href="/artists/skepta") Skepta
        .artist__article--content
          img.artist__article--content--featured-image(src="/images/artists/id/featured.jpg" alt="Jaykae")
      h2 Videos featuring Jaykae
      .latest-videos__feed
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/NPISpyfJnzI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type P110 Premiere
            .video-description__title Krimsz X RA - Money Affi Mek (6IXTY 6IX)
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/P4h80v_58UU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type Scene smasher
            .video-description__title Pee Man
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/vLXLU215BEw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type P110 Premiere
            .video-description__title SparkaMan - Know How It Goes
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/7Xe4jFvCV6g?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type Scene smasher
            .video-description__title Stoney x Jsav x Slitz
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/8KldncXmuRY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type 1Take
            .video-description__title Dext - #1TAKE (PT.2)
        a.latest-videos__feed--entry(href="/videos/id/1")
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/ipPEAJd1T7c?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video-description
            .video-description__type 1Take
            .video-description__title Brett Haze - #1TAKE
        