extends layout

block body
  section.artists
    .container
      h1 Latest News      
      .news__feed
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/1.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/2.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/3.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/4.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/5.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/6.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/7.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/8.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/1.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/2.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/3.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/4.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/5.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/6.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/7.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…
        a(href="/news/article/1").news__feed--entry
          img(src="/images/news-articles/temp/8.jpg")
          h5 LD On UK Drill scene, 67 Being Back &amp; More
          p 67’s LD visits Tim Westwood for an in-depth interview where he offers up his view on the current UK Drill scene, 67 being back…