extends layout

block body
  section.artists
    .container
      h1 Our Artists      
      .artists__feed
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views
        a(href="/artists/jaykae").artists__feed--entry
          img(src="/images/artists/id/300x300.jpg")
          .artists__feed--entry--info
            h3 Jaykae
            p 13,471,992 views