extends layout

block body
  section.news
    .container
      h1 Latest News      
      .news__feed
        if articles.length === 0
          p No more articles found
        else 
          for article in articles
            +articleListing(article)