extends layout

block extraFooterScripts
  script(src="/js/libs/axios.min.js")
  script(async src="/js/infiniteScroll.js")
  
block body
  section.news
    .container
      h1 Latest News      
      .news__feed#infinite-scroll
        if articles.length
          for article in articles
            +articleListing(article)
        else 
          p No articles found
      .form-errors.hidden
        p Error loading videos 