extends layout

block body
  section.video
    .container
      .space-between
        h1 Latest Videos
        ul.video__categories
          li
            a(href="/videos" class=(currentPath === "/videos" ? "active" : "")) All
          li
            a(href="/videos/music-video" class=(currentPath === "/videos/music-video" ? "active" : "")) Music Video  
          li
            a(href="/videos/1take" class=(currentPath === "/videos/1take" ? "active" : "")) #1Take
          li
            a(href="/videos/scene-smasher" class=(currentPath === "/videos/scene-smasher" ? "active" : "")) Scene Smasher
          li
            a(href="/videos/net-video" class=(currentPath === "/videos/net-video" ? "active" : "")) Net Video
      .video__feed
        if videos.length === 0
          h4 No Videos Found
        else 
          for video in videos
            +videoListing(video)