include templates/head
include templates/nav
include templates/footer
include mixins/socialSharingIcons

doctype html
html
  +head
  body(class=(user ? 'admin' : ''))
    +nav
    block messages
      if flashes
        .flash-messages
          - const categories = Object.keys(flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                .container
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.parentElement.remove()") &times;
    block p110AlbumBanner
      .container(class=(currentPath === "/" ? "mobile-hide" : ""))
        a(href="/album")
          .p110-album-banner
            picture
              source(srcset="/images/banners/p110-album-banner-mobile.png" media="(max-width: 767px)")
              img(src="/images/banners/p110-album-banner-desktop.png" alt="P110 the Album - Available Now on Spotify, Apple Music & Google Play")
    block body
    block subscribeNow            
      a(href="https://www.youtube.com/user/P110HD" target="_blank").subscribe-now
        .container
          img.subscribe-now__youtube-logo(src='/images/icons/youtube-logo-white.svg')
          h3 Subscribe to p110 media
          .subscribe-now__subscriber-count 198K
    +footer
    block footerScripts
      script(src="/js/mobileMenu.js" async)
    block extraFooterScripts