extends layout

block p110AlbumBanner
block body
  section.video-production
    .container.video-production__page
      .video-production__title
        h3 Video Production
        h1 Get your video online
      img(src="/images/banners/video-production-main.jpg" alt="Video Production Photo")
      .video-production__page--content
        .video-production__page--content--left
          p Get your own P110 music video produced by our team of experienced videographers and be promoted through our platform today.
          p Fill in the contact form or DM us on social media to get in touch.
