extends layout

block body
  section.video
    .container
      a.video__back-link.underline-hover(href="/news") << Back to News
      .video__article
        article.video__article--content
          .video__article--content--title
            .video-description__type P110 Premiere
            h1 SparkaMan - Know How It Goes
          .youtube-embed
            iframe(src="https://www.youtube.com/embed/vLXLU215BEw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video__article--social-icons
            a.video__article--social-icons--facebook(href="/" target="_blank")
              img(src="/images/icons/facebook-logo-white.svg" alt="Facebook icon")
              p Share on Facebook
            a.video__article--social-icons--twitter(href="/" target="_blank")
              img(src="/images/icons/twitter-logo-white.svg" alt="Facebook icon")
              p Share on Twitter
            a.video__article--social-icons--google(href="/" target="_blank")
              img(src="/images/icons/facebook-logo-white.svg" alt="Facebook icon")
              p Share on Google+
          .video__article--content--meta
            h3 Artists
            .video__article--content--meta--tags
              a.underline(href="/artists/sparkaman") Sparkaman

          .video__article--content--text
            p It’s been a long, long time since we’ve had something new from Sparkaman, but Know How It Goes is quite a statement for his return. His latest track is as stylish as the visuals that compliment it. 2018 is seeing so many artists step out and display their own creativity and direction. This track is definitely one of the standouts as he seamlessly transitions from singing to rapping without a sweat.
            p The cold visuals showcase lots of edgy editing across various locations in London, featuring some of his clique. Know How It Goes is for sure a head bopper, and this one will be on repeat for a while!
            p Check out the new video above, it’s a must!
        aside.video__article--sidebar.latest-videos__feed
          h3 Latest Videos          
          a.latest-videos__feed--entry(href="/videos/id/1")
            .youtube-embed
              iframe(src="https://www.youtube.com/embed/NPISpyfJnzI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            .video-description
              .video-description__type P110 Premiere
              .video-description__title Krimsz X RA - Money Affi Mek (6IXTY 6IX)
          a.latest-videos__feed--entry(href="/videos/id/1")
            .youtube-embed
              iframe(src="https://www.youtube.com/embed/P4h80v_58UU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            .video-description
              .video-description__type Scene smasher
              .video-description__title Pee Man
          a.latest-videos__feed--entry(href="/videos/id/1")
            .youtube-embed
              iframe(src="https://www.youtube.com/embed/vLXLU215BEw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            .video-description
              .video-description__type P110 Premiere
              .video-description__title SparkaMan - Know How It Goes