mixin nav
  .nav
    nav
      .container
        a(href="/")
          img(src="/images/logos/p110-logo-white.svg" alt="P110 Logo").nav__logo
        ul.nav__menu
          li
            a(href="/" class=(currentPath === "/" || currentPath.startsWith("/videos") ? "active" : "")) Videos
          li
            a(href="/news" class=(currentPath.startsWith("/news") ? "active" : "")) News
          li
            a(href="/artists" class=(currentPath.startsWith("/artists") ? "active" : "")) Artists
          li
            a(href="/video-production" class=(currentPath.startsWith("/video-production") ? "active" : "")) Video Production
          li
            a(href="/about" class=(currentPath.startsWith("/about") ? "active" : "")) About
        .nav__social-media-icons
          a(href="https://www.facebook.com/P110Media/" target="_blank")
            img(src="/images/icons/facebook-logo-white.svg" alt="P110 Facebook Page Link")
          a(href="https://twitter.com/p110media/" target="_blank")
            img(src="/images/icons/twitter-logo-white.svg" alt="P110 Twitter Page Link")
          a(href="https://www.instagram.com/p110media/" target="_blank")
            img(src="/images/icons/instagram-logo-white.svg" alt="P110 instagram Page Link")
        .nav__search
          .nav__search--box
            input(placeholder="Search...").nav__search--box--input

    nav.nav__secondary
      .container
        ul.nav__secondary--menu
          li
            a(href="/videos/scene-smasher" class=(currentPath === "/videos/scene-smasher" ? "active" : "")) Scene Smasher
          li
            a(href="/videos/1take" class=(currentPath === "/videos/1take" ? "active" : "")) #1Take
          li
            a(href="/videos/p110-premiere" class=(currentPath === "/videos/p110-premiere" ? "active" : "")) P110 Premiere
          li
            a(href="/videos/music-video" class=(currentPath === "/videos/music-video" ? "active" : "")) Music Video
        a(href="https://www.youtube.com/user/P110HD" target="_blank").nav__secondary--youtube
          img(src="/images/icons/youtube-logo-white.svg" alt="Youtube Logo")
          p Subscribe #[span.nav__secondary--youtube--subscriber-count 198K]