mixin nav
  .nav
    nav
      .container
        a(href="/").nav__logo
          img(src="/images/logos/p110-logo-white.svg" alt="P110 Logo")
        .nav__dropdown
          ul.nav__menu
            li
              a(href="/" class=(currentPath === "/" || currentPath.startsWith("/videos") ? "active" : "")) Videos
            li
              a(href="/mixtapes" class=(currentPath.startsWith("/mixtapes") ? "active" : "")) Mixtapes
            li
              a(href="/news" class=(currentPath.startsWith("/news") ? "active" : "")) News
            li
              a(href="/video-production" class=(currentPath.startsWith("/video-production") ? "active" : "")) Video Production
            li
              a(href="/about" class=(currentPath.startsWith("/about") ? "active" : "")) About
          .nav__social-media-icons
            a(href="https://www.facebook.com/P110Media/" target="_blank")
              img(src="/images/icons/facebook-logo-white.svg" alt="P110 Facebook Page Link")
            a(href="https://twitter.com/p110media/" target="_blank")
              img(src="/images/icons/twitter-logo-white.svg" alt="P110 Twitter Page Link")
            a(href="https://www.instagram.com/p110media/" target="_blank")
              img(src="/images/icons/instagram-logo-white.svg" alt="P110 instagram Page Link")
          form.nav__search
            .nav__search--box
              input(name="navsearch" placeholder=(query.navsearch ? query.navsearch : "Search P110")).nav__search--box--input
        .nav__dropdown--toggle
          .nav__dropdown--toggle--button
            div Menu
            .nav__dropdown--toggle--button--bars
              .nav__dropdown--toggle--button--bars--bar
              .nav__dropdown--toggle--button--bars--bar
              .nav__dropdown--toggle--button--bars--bar

    nav.nav__secondary
      .container
        ul.nav__secondary--menu
          li
            a(href="/videos" class=(currentPath === "/videos" ? "active" : "")) All Videos
          li
            a(href="/videos/p110-premiere" class=(currentPath === "/videos/p110-premiere" ? "active" : "")) P110 Premiere
          li
            a(href="/videos/music-video" class=(currentPath === "/videos/music-video" ? "active" : "")) Music Video
          li
            a(href="/videos/1take" class=(currentPath === "/videos/1take" ? "active" : "")) #1Take
          li
            a(href="/videos/scene-smasher" class=(currentPath === "/videos/scene-smasher" ? "active" : "")) Scene Smasher
          li
            a(href="/videos/hoods-hottest" class=(currentPath === "/videos/hoods-hottest" ? "active" : "")) Hoods Hottest
        .nav__secondary--items
          if user
            a(href="/admin")        
              .nav__secondary--items--item.nav__secondary--items--item--control-panel
                img(src="/images/icons/settings.svg" alt="Control Panel")
                p Control Panel
          a(href="https://www.youtube.com/user/P110HD" target="_blank")        
            .nav__secondary--items--item.nav__secondary--items--item--youtube
              img(src="/images/icons/youtube-logo-white.svg" alt="Youtube Logo")
              p Subscribe 
              if channelStats
                span.nav__secondary--items--item--youtube--subscriber-count= numberFormatter(channelStats.subscriberCount)