mixin openGraph
  block openGraph
    -
      let imageURL = publicURL + "/images/p110.jpg"
      // Test for absolute or local URLs
      if (openGraphImage) {
        if (openGraphImage.startsWith("http"))
          imageURL = openGraphImage
        else
          imageURL = publicURL + openGraphImage
      }
    meta(property="og:site_name" content="P110 Media")
    meta(property="og:locale" content="en_UK")
    meta(property="og:image" content=imageURL)

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@p110media")
    meta(name="twitter:image" content=imageURL)