// Add your variables for colours, fonts and anything else here
// Variables are imported by the main style sheets

darkGrey = #1F1F1F
midGrey = #444
lightGrey = #EAEAEA

p110Blue = #396BA4
p110BlueExtraLight = #A1BDDD
p110BlueLight = #5E89BB
p110BlueMidDark = #1D4E86
p110BlueDark = #0E3B6E
p110Yellow = #F5A623
p110YellowDark = #db8b0a

youtubeRed = #FF0000
youtubeRedText = #EFCBD0
youtubeRedHover = #D40000
facebookBlue = #3B5998
facebookBlueDark = #2c4272
twitterBlue = #55acee
twitterBlueDark = #2594e9
googlePlusRed = #dd4b39
googlePlusRedDark = #c43421

midGreen = green
darkGreen = darkgreen

helveticaNeueMedium = "Helvetica Neue Medium", Helvetica, Arial, sans-serif
helveticaNeueCondensedMedium = "Helvetica Neue Condensed Medium", Helvetica, Arial, sans-serif

helveticaCondensed()
  font-family helveticaNeueCondensedMedium
  text-transform uppercase
  letter-spacing 0.02em
  line-height 1em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

containerWidth = 1280px
containerPadding = 20px

breakpointLarge = 1320px
breakpointMedium = 1023px
breakpointSmall = 767px