// Add your variables for colours, fonts and anything else here
// Variables are imported by the main style sheets

primary-color = #111
button-color = #396BA4

open-sans-regular = "Open Sans Regular", Helvetica, Arial, sans-serif

container-width = 1280px
container-padding = 20px