// Add your variables for colours, fonts and anything else here
// Variables are imported by the main style sheets

p110Blue = #396BA4
p110BlueLight = #5E89BB
p110BlueMidDark = #1D4E86
p110BlueDark = #0E3B6E
darkGrey = #1B1B1B
youtubeRed = #FF0000
youtubeRedHover = #D40000

helveticaNeueMedium = "Helvetica Neue Medium", Helvetica, Arial, sans-serif

helveticaNeueCondensedMedium = "Helvetica Neue Condensed Medium", Helvetica, Arial, sans-serif

helveticaCondensed()
  font-family helveticaNeueCondensedMedium
  text-transform uppercase
  letter-spacing 0.05em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

containerWidth = 1280px
containerPadding = 20px

