.news, .video, .mixtapes

  &__article

    &--content
      width calc(75% - 4rem)

  &__feed

    &--entry
      width calc(50% - 1rem)

      &:hover
        background none

.section-title
  margin 2rem 0 3rem 0

.instagram-feed
  &__image
    width calc(33.333% - 1rem)
    margin-bottom 1rem

.video-production
  background-color black

  &__image
    height 200px
    width 100vw
    margin 0 -1rem
    position relative
    z-index 1

  &__text
    margin 0 auto
    padding 2rem 0
    text-align center

    h2
      font-size 4.8rem
      line-height 1em