html
  font-size 8.5px

body
  padding-top 11.5rem

.container
  padding 0 .75rem

.mobile-hide
  display none

.nav__secondary

  .container
    overflow-x scroll

    &::-webkit-scrollbar
      display none
      background none
      height 0

  &--youtube 
    padding .75rem 2rem

.p110-album-banner
  padding-top 19.63%
  margin 1rem 0

  &--mobile
    margin-top 2rem
    display block

.youtube-embed
  
  &__featured
    top auto
    width 100%
    height 4.2rem
    padding 1rem 1.5rem 0 1rem
    font-size 2.4rem
    box-sizing border-box

.promoted
  margin-bottom 2rem

  &__left-column
    margin 2rem 0

    &--video-description
      margin-top 4.4rem
      padding 1.5rem 1rem

  &__right-column
    flex-wrap wrap

  &__hottest-videos, &__store-banner
    width 100%