button, .button
  padding 1.25rem 2rem
  text-transform uppercase
  margin 2rem 0
  border none
  background-color p110Blue
  color white
  font-size 1.4rem
  display inline-block
  letter-spacing 0.05em

  &-secondary
    background-color p110Yellow