button, .button
  padding 1.25rem 2rem
  text-transform uppercase
  margin 2rem 0
  border none
  background-color p110Blue
  color white
  font-size 1.4rem
  display inline-flex
  white-space nowrap
  letter-spacing 0.05em
  align-items center

  img 
    max-height 2rem
    margin-right 1rem

  &:hover
    background-color p110BlueDark
    cursor pointer

  &__secondary
    background-color p110Yellow

    &:hover
      background-color p110YellowDark

  &__danger
    background-color youtubeRed

    &:hover
      background-color youtubeRedHover

  &__green
    background-color midGreen

    &:hover
      background-color darkGreen

  &__yellow
    background-color p110Yellow

    &:hover
      background-color p110YellowDark
