*
  font-family open-sans-regular

html
  font-size 10px
  line-height 1.8
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  padding 0
  margin 0

body
  padding 0
  margin 0
  font-size 1.6rem

li
  list-style none

img, svg
  display block
  width 100%
  border none

ul
  padding-left 0

fieldset
  margin 0
  padding 0
  border none 