*
  font-family helveticaNeueMedium
  
h1, h2, h3, h4, h5, h6
  helveticaCondensed()

  a
    text-decoration underline

h1
  font-size 3.2rem

h2
  font-size 3.4rem

h3
  font-size 2.4rem

h4
  font-size 2.2rem

h5
  font-size 1.8rem

h6
  font-size 1.6rem

a
  font-family inherit
  text-decoration none
  color inherit

  &.underline-hover:hover
    text-decoration underline

.underline
  text-decoration underline

p
  margin 0 0 2rem 0

  a
    text-decoration underline

ul
  margin 0

span
  font-family inherit

.grey
  color #777

.yellow
  color p110Yellow