// Inlined in the <head> for faster page renders
// Try to keep the compiled CSS below 10kb for maximum performance

@import 'variables/variables'
@import 'critical/reset'
@import 'critical/fonts'
@import 'critical/typography'
@import 'critical/grid'
@import 'critical/buttons'

body
  background-color darkGrey
  color white

.nav
  background-color p110Blue
  width 100%

  .container
    display flex
    justify-content space-between
    align-items stretch

  &-logo
    height 50px
    width auto
    padding 1rem 0

  &-menu
    display flex
    align-items stretch
    
    li
      // Links should resize to the height of the
      // nav when stretched by the main logo image
      a
        helveticaCondensed()
        font-size 1.8rem
        color white
        padding 0 2rem
        display inline-flex
        height 100%
        align-items center

        &.active, &:hover
          background-color p110BlueLight

  &__secondary
    background-color p110BlueDark

    .container
      display flex
      justify-content space-between

    &--menu
      display flex
      align-items stretch
      font-size 1.4rem

      li

        a
          color white
          text-decoration none 
          padding 0 1rem
          margin-right 1rem
          display inline-flex
          height 100%
          align-items center

          &.active, &:hover
            background-color p110BlueMidDark

    &--youtube 
      padding .5rem 2rem
      background-color youtubeRed
      display flex
      align-items center

      &--subscriber-count
        color #EFCBD0

      &:hover
        background-color youtubeRedHover

      img
        width 3rem

      p
        helveticaCondensed()
        color white
        margin 0 0 0 1rem

.flash-messages
  display block

  .flash
    display block
    color white
    background-color red
    min-height 3rem

    &--success
      background-color green

    .container
      text-align center

    &__text
      margin 0
      display inline-block

    &__remove
      padding 0 .75rem .5rem .75rem
      margin 0
      float right
      font-size 2rem
      background-color inherit    
      height 3rem

      &:hover
        cursor pointer
        background-color rgba(255,255,255,0.2)

.p110-album-banner
  margin 2rem auto

form
  display flex
  flex-direction column
  width 300px
  background-color #eee
  padding 2rem 2rem 0 2rem
  margin-bottom 2rem