// Main external stylesheet for non-critical styles

@import 'variables/variables'
@import 'main/fonts'

.hidden
  display none

.latest-videos
  padding 1rem 0 4rem 0
  background-color black

  &__categories
      display flex
      align-items stretch
      font-size 1.4rem

    li

      a
        color white
        text-decoration none 
        padding .25rem 1.5rem
        display inline-flex
        height 100%
        align-items center

        &.active
          background-color midGrey
          
        &:hover
          background-color p110BlueMidDark

  &__feed
    display flex
    justify-content space-between
    align-items flex-start
    flex-wrap wrap

    &--entry
      width calc(33.333% - 1rem)
      margin-bottom 1rem
      padding .5rem .5rem 2rem .5rem
      box-sizing border-box

      &:hover
        background-color midGrey

      .youtube-embed
        margin-bottom 2rem

.news
  background-color lightGrey 
  color black

.video
  background-color black 

.news, .video
  padding 1rem 0 2rem 0

  &__feed
    display flex
    justify-content space-between
    align-items flex-start
    flex-wrap wrap

    &--entry
      width calc(25% - 1rem)
      margin-bottom 2rem
      display inline-block

      &:hover p
        text-decoration underline

      h5
        margin 1rem 0
        line-height 1em

      p
        font-size 1.4rem

  &__back-link
    margin-top 1rem
    display block

  &__article
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap

    & .news__feed--entry, .latest-videos__feed--entry
      width 100%

    &--content
      width calc(75% - 12rem)

      &--title
        margin-top 2rem

        h1
          margin-bottom 2.5rem
          margin-top 0

      &--text
        margin-top 3rem
        display block
      
      &--meta

        h3
          margin 3rem 0 1rem 0

    &--social-icons
      width 100
      display flex
      flex-wrap wrap
      color white

      a
        padding 1rem 2rem
        box-sizing border-box
        width 33.333%
        display flex
        align-items center
        justify-content center

        p
          margin 0 0 0 1.5rem
      
      img 
        height 2rem
        width auto

      &--facebook
        background-color facebookBlue

        &:hover
          background-color facebookBlueDark

      &--twitter
        background-color twitterBlue

        &:hover
          background-color twitterBlueDark

      &--google
        background-color googlePlusRed

        &:hover
          background-color googlePlusRedDark
    
    &--sidebar
      width calc(25%)

      h3
        margin-top 2.8rem

.video-production
  background-color black
  position relative

  &__image
    background-image url('/images/banners/video-production-banner.jpg')
    background-size cover
    background-position center

  &__text
    padding 8rem 0 7rem 0

    p
      margin 0
      text-transform uppercase
      color p110Yellow

    h2
      margin 0 0 2rem 0
      font-size 6.2rem

  &__title
    text-align center
    width 100%
    position absolute
    top 6rem

    h3
      text-transform uppercase
      font-family helveticaNeueMedium
      font-size 1.6rem
      color p110Yellow
      margin 0

    h1
      margin 0
      font-size 6.2rem

  &__page
    padding 6rem 0
    position relative
    max-width 100rem

    &--content
      margin -15rem auto 0 auto
      max-width 82rem
      display flex
      flex-wrap wrap
      justify-content space-between
      align-items flex-start

      > div
        width calc(50% - 2rem)

        &:first-child
          margin-top 2rem

.instagram-feed
  padding 1rem 0 4rem 0

  &__images
    display flex
    justify-content space-between
    align-items flex-start

  &__image
    width calc(16.666% - 2rem)
    min-width 15rem

    &--container
      padding-top 100%
      position relative
      background-color black

      img 
        position absolute
        top 0

.subscribe-now
  background-color youtubeRed 
  padding 2rem 0
  display block

  &:hover
    background-color youtubeRedHover

  .container
    display flex
    align-items center
    justify-content center

  &__youtube-logo
    width 4.6rem
  
  h3
    margin -.5rem 3rem 0 3rem
  
  &__subscriber-count
    helveticaCondensed()
    font-size 2.6rem
    line-height .9em
    margin 0
    margin-top -.5rem
    color youtubeRedText

.login
  background-color black
  padding 2rem 0

.footer
  background-color black
  padding 1rem 0 0 0
  font-size 1.4rem

  a
    text-decoration underline

    &:hover
      color p110Blue

  .container
    display flex
    justify-content space-between
    flex-wrap wrap

  &__signed-in
    display flex
    flex-wrap wrap

    p
      margin-right 1.5rem

  &__column
    width calc(33.333% - 2rem)
    margin-bottom 3rem

  &__list
    line-height 1.6em

  .nav__social-media-icons
    margin-top 3rem